@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
.maplibregl-popup-close-button {
  @apply p-1;
}
.maplibregl-popup-content {
  @apply min-w-35 min-h-25;
}
.dark-mode {
  body {
    background-color: #091a28;
    background-image: linear-gradient(to top, #051325 0%, #19242c 100%);
    color: #ebf4f1;
  }
  .maplibregl-popup-content {
    background-color: #091a28;
    color: #ebf4f1;
  }
  .maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: #091a28;
  }
}

.light-mode {
  body {
    background-color: #fff;
    background-image: linear-gradient(120deg, #f0f8fd 0%, #f6fcff 100%);
    color: rgba(0, 0, 0, 0.8);
  }
}
