@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

.dark-mode {
  body {
    background-color: #091a28;
    color: #ebf4f1;
  }
}

.light-mode {
  body {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
  }
}
